<div id="gallery" data-scroll-index="4" class="section lb">
  <div class="container">
    <div class="section-title text-center">
      <h3>Gallery</h3>
      <p class="lead">Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus.<br> Sed a tellus quis mi rhoncus dignissim.</p>
    </div><!-- end title -->

    <div class="gallery-menu row">
      <div class="col-md-12">
        <div class="button-group filter-button-group text-center">
          <button class="active" data-filter="*">All</button>
          <button data-filter=".gal_a">Meeting</button>
          <button data-filter=".gal_b">Event</button>
          <button data-filter=".gal_c">Economic</button>
          <button data-filter=".gal_d">Education</button>
        </div>
      </div>
    </div>

    <div class="gallery-list row">
      <div class="col-md-4 col-sm-6 gallery-grid gal_a gal_b">
        <div class="gallery-single fix">
          <img src="src/assets/uploads/gallery_img-01.jpg" class="img-responsive" alt="Image">
          <div class="img-overlay">
            <a href="src/assets/uploads/gallery_img-01.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 gallery-grid gal_c gal_b">
        <div class="gallery-single fix">
          <img src="src/assets/uploads/gallery_img-02.jpg" class="img-responsive" alt="Image">
          <div class="img-overlay">
            <a href="src/assets/uploads/gallery_img-02.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 gallery-grid gal_a gal_c">
        <div class="gallery-single fix">
          <img src="src/assets/uploads/gallery_img-03.jpg" class="img-responsive" alt="Image">
          <div class="img-overlay">
            <a href="src/assets/uploads/gallery_img-03.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 gallery-grid gal_b gal_a">
        <div class="gallery-single fix">
          <img src="src/assets/uploads/gallery_img-04.jpg" class="img-responsive" alt="Image">
          <div class="img-overlay">
            <a href="src/assets/uploads/gallery_img-04.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 gallery-grid gal_a gal_c">
        <div class="gallery-single fix">
          <img src="src/assets/uploads/gallery_img-05.jpg" class="img-responsive" alt="Image">
          <div class="img-overlay">
            <a href="src/assets/uploads/gallery_img-05.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 gallery-grid gal_c gal_d">
        <div class="gallery-single fix">
          <img src="src/assets/uploads/gallery_img-06.jpg" class="img-responsive" alt="Image">
          <div class="img-overlay">
            <a href="src/assets/uploads/gallery_img-06.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

