<div id="event" data-scroll-index="3" class="section wb">
  <div class="container">
    <div class="section-title text-center">
      <h3>Events</h3>
      <p class="lead">Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus.<br> Sed a tellus quis mi rhoncus dignissim.</p>
    </div><!-- end title -->

    <div class="row">
      <div class="col-md-4">
        <div class="participate-wrap">
          <small>Technology</small>
          <figure>
            <img src="uploads/politic_04.jpg" alt="" class="img-responsive">
            <figcaption><a href="#" class="global-radius"> <i class="flaticon-unlink"></i> </a></figcaption>
          </figure>
          <div class="event_dit">
            <h4>Integer sollicitudin metus</h4>
            <ul>
              <li> <a href="#"> <i class="fa fa-calendar"></i> 24-10-2015 </a> </li>
              <li> <a href="#"> <i class="fa fa-clock-o"></i> 7:00 PM to 9:00 PM </a>  </li>
              <li> <a href="#"> <i class="fa fa-map-marker"></i> NY City, USA </a> </li>
            </ul>
            <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet massa sodales aliquam at eget quam. Integer ultricies et magna quis.</p>
            <a href="event-detail.html" class="btn btn-light btn-radius btn-brd grd1">Detail</a>
          </div>
        </div><!-- end participate -->
      </div><!-- end col -->

      <div class="col-md-4">
        <div class="participate-wrap">
          <small>Let's Speak with Us</small>
          <figure>
            <img src="uploads/politic_05.jpg" alt="" class="img-responsive">
            <figcaption><a href="#" class="global-radius"> <i class="flaticon-unlink"></i> </a></figcaption>
          </figure>
          <div class="event_dit">
            <h4>Integer facilisis elit</h4>
            <ul>
              <li> <a href="#"> <i class="fa fa-calendar"></i> 24-10-2015 </a> </li>
              <li> <a href="#"> <i class="fa fa-clock-o"></i> 7:00 PM to 9:00 PM </a>  </li>
              <li> <a href="#"> <i class="fa fa-map-marker"></i> NY City, USA </a> </li>
            </ul>
            <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet massa sodales aliquam at eget quam. Integer ultricies et magna quis.</p>
            <a href="event-detail.html" class="btn btn-light btn-radius btn-brd grd1">Detail</a>
          </div>
        </div><!-- end participate -->
      </div><!-- end col -->

      <div class="col-md-4">
        <div class="participate-wrap">
          <small>Join Us for Free</small>
          <figure>
            <img src="uploads/politic_06.jpg" alt="" class="img-responsive">
            <figcaption><a href="#" class="global-radius"> <i class="flaticon-unlink"></i> </a></figcaption>
          </figure>
          <div class="event_dit">
            <h4>Maecenas bibendum tellus</h4>
            <ul>
              <li> <a href="#"> <i class="fa fa-calendar"></i> 24-10-2015 </a> </li>
              <li> <a href="#"> <i class="fa fa-clock-o"></i> 7:00 PM to 9:00 PM </a>  </li>
              <li> <a href="#"> <i class="fa fa-map-marker"></i> NY City, USA </a> </li>
            </ul>
            <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet massa sodales aliquam at eget quam. Integer ultricies et magna quis.</p>
            <a href="event-detail.html" class="btn btn-light btn-radius btn-brd grd1">Detail</a>
          </div>
        </div><!-- end participate -->
      </div><!-- end col -->
    </div><!-- end row -->
  </div><!-- end container -->
</div><!-- end section -->
