<div id="blog" data-scroll-index="6" class="section lb">
  <div class="container">
    <div class="section-title text-center">
      <span>Latest news</span>
      <h3>From Blog</h3>
      <p class="lead">Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus.<br> Sed a tellus quis mi rhoncus dignissim.</p>
    </div><!-- end title -->

    <div class="row">
      <div class="col-md-4 col-sm-6 col-lg-4">
        <div class="post-box">
          <div class="post-thumb">
            <img src="uploads/politic_04.jpg" class="img-responsive" alt="post-img" />
            <div class="date">
              <span>06</span>
              <span>Aug</span>
            </div>
          </div>
          <div class="post-info">
            <h4>Maecenas bibendum tellus</h4>
            <ul>
              <li>by admin</li>
              <li>Apr 21, 2018</li>
              <li><a href="#"><b> Comments</b></a></li>
            </ul>
            <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet massa sodales aliquam at eget quam. Integer ultricies et magna quis.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-lg-4">
        <div class="post-box">
          <div class="post-thumb">
            <img src="uploads/politic_05.jpg" class="img-responsive" alt="post-img" />
            <div class="date">
              <span>06</span>
              <span>Aug</span>
            </div>
          </div>
          <div class="post-info">
            <h4>Maecenas bibendum tellus</h4>
            <ul>
              <li>by admin</li>
              <li>Apr 21, 2018</li>
              <li><a href="#"><b> Comments</b></a></li>
            </ul>
            <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet massa sodales aliquam at eget quam. Integer ultricies et magna quis.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-lg-4">
        <div class="post-box">
          <div class="post-thumb">
            <img src="uploads/politic_06.jpg" class="img-responsive" alt="post-img" />
            <div class="date">
              <span>06</span>
              <span>Aug</span>
            </div>
          </div>
          <div class="post-info">
            <h4>Maecenas bibendum tellus</h4>
            <ul>
              <li>by admin</li>
              <li>Apr 21, 2018</li>
              <li><a href="#"><b> Comments</b></a></li>
            </ul>
            <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet massa sodales aliquam at eget quam. Integer ultricies et magna quis.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
