<div id="issues" data-scroll-index="2" class="section lb">
  <div class="container">
    <div class="section-title text-left">
      <h3>Issues & Plans</h3>
      <p class="lead">Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus.<br> Sed a tellus quis mi rhoncus dignissim.</p>
    </div><!-- end title -->

    <div class="row">
      <div class="col-md-5">
        <div class="issuse-wrap2 clearfix">
          <img src="uploads/about_04.jpg" alt="" class="img-responsive img-rounded">
          <h4>"Turkey will continue to make structural economic reforms”</h4>
          <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet massa sodales aliquam at eget quam. Integer ultricies et magna quis.</p>
          <p>Tiam sit amet lacus vitae massa sodales aliquam at eget quam. Integer ultricies et magna quis.</p>
        </div><!-- end issue -->
      </div><!-- end col -->
      <div class="col-md-7">
        <div class="issuse-wrap clearfix">
          <img src="uploads/issue_01.jpg" alt="" class="img-responsive img-rounded alignleft">
          <h4>CLIMATE CHANGE</h4>
          <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet massa sodales aliquam at eget quam. Integer ultricies et magna quis.</p>
        </div><!-- end issue -->

        <div class="issuse-wrap clearfix">
          <img src="uploads/issue_02.jpg" alt="" class="img-responsive img-rounded alignleft">
          <h4>COMPREHENSIVE IMMIGRATION REFORM</h4>
          <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet lacus vitae massa sodales aliquam at eget quam. Integer ultricies et magna quis.</p>
        </div><!-- end issue -->

        <div class="issuse-wrap clearfix">
          <img src="uploads/issue_03.jpg" alt="" class="img-responsive img-rounded alignleft">
          <h4>ECONOMIC OPPORTUNITY</h4>
          <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet lacus vitae massa sodales aliquam at eget quam. Integer ultricies et magna quis.</p>
        </div><!-- end issue -->

        <div class="issuse-wrap lastchild clearfix">
          <img src="uploads/issue_04.jpg" alt="" class="img-responsive img-rounded alignleft">
          <h4>HEALTH CARE</h4>
          <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet lacus vitae massa sodales aliquam at eget quam. Integer ultricies et magna quis.</p>
        </div><!-- end issue -->
      </div><!-- end col -->
    </div><!-- end row -->
  </div><!-- end container -->
</div><!-- end section -->
