<div id="media" data-scroll-index="5" class="section wb">
  <div class="container">
    <div class="section-title text-center">
      <h3>Multimedia</h3>
      <p class="lead">Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus.<br> Sed a tellus quis mi rhoncus dignissim.</p>
    </div><!-- end title -->

    <div class="row">
      <div class="col-md-4">
        <div class="issuse-wrap2 clearfix">
          <div class="post-media wow fadeIn">
            <img src="uploads/news_01.jpg" alt="" class="img-responsive img-rounded">
            <a href="http://www.youtube.com/watch?v=nrJtHemSPW4" data-rel="prettyPhoto[gal]" class="playbutton"><i class="flaticon-play-button"></i></a>
          </div><!-- end media -->
          <h4>"A Political News from Us! Don't forget Watch”</h4>
          <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet massa sodales aliquam at eget quam. Integer ultricies et magna quis.</p>
        </div><!-- end issue -->
      </div><!-- end col -->

      <div class="col-md-4">
        <div class="issuse-wrap2 clearfix">
          <div class="post-media wow fadeIn">
            <img src="uploads/news_02.jpg" alt="" class="img-responsive img-rounded">
            <a href="http://www.youtube.com/watch?v=nrJtHemSPW4" data-rel="prettyPhoto[gal]" class="playbutton"><i class="flaticon-play-button"></i></a>
          </div><!-- end media -->
          <h4>"Our Speaker Talking About Our Strategy! All plans!"</h4>
          <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet massa sodales aliquam at eget quam. Integer ultricies et magna quis.</p>
        </div><!-- end issue -->
      </div><!-- end col -->

      <div class="col-md-4">
        <div class="issuse-wrap2 clearfix">
          <div class="post-media wow fadeIn">
            <img src="uploads/news_03.jpg" alt="" class="img-responsive img-rounded">
            <a href="http://www.youtube.com/watch?v=nrJtHemSPW4" data-rel="prettyPhoto[gal]" class="playbutton"><i class="flaticon-play-button"></i></a>
          </div><!-- end media -->
          <h4>"Say Hello to our new politican : John DOE..”</h4>
          <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet massa sodales aliquam at eget quam. Integer ultricies et magna quis.</p>
        </div><!-- end issue -->
      </div><!-- end col -->
    </div><!-- end row -->
  </div><!-- end container -->
</div><!-- end section -->
