    <!-- LOADER -->
    <div id="preloader">
        <div id="main-ld">
			<div id="loader"></div>
		</div>
    </div><!-- end loader -->
    <!-- END LOADER -->

    <div class="topbar text-center hidden-xs">
        <p>This site uses cookies. By continuing to browse ELPolitic, you are agreeing to use our site cookies. <a href="#">Find out more here ></a></p>
    </div>

    <header class="header header_style_01">
        <nav class="megamenu navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="images/logos/logo.png" alt="image"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a data-scroll-nav="0" href="#main-banner" class="active">Home</a></li>
                        <li><a data-scroll-nav="1" href="#about">About Us</a></li>
                        <li><a data-scroll-nav="2" href="#issues">Issues</a></li>
                        <li><a data-scroll-nav="3" href="#event">Event</a></li>
						<li><a data-scroll-nav="4" href="#gallery">Gallery</a></li>
                        <li><a data-scroll-nav="5" href="#media">Multimedia</a></li>
						<li><a data-scroll-nav="6" href="#blog">Blog</a></li>
                        <li><a data-scroll-nav="7" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

	<div id="main-banner" class="banner-one" data-scroll-index="0">
		<div data-src="uploads/slide-1.jpg">
			<div class="camera_caption">
				<div class="container">
					<h1 class="wow fadeInUp animated">World is greater than five #ELPolitic</h1>
					<p class="wow fadeInUp animated" data-wow-delay="0.2s">With ELPolitic responsive landing page template, you can showcase your next politics & politician websites!</p>
					<a data-scroll href="#" class="btn btn-light btn-radius btn-brd grd1">DONATE</a>
				</div> <!-- /.container -->
			</div> <!-- /.camera_caption -->
		</div>
		<div data-src="uploads/slide-2.jpg">
			<div class="camera_caption">
				<div class="container">
					<h1 class="wow fadeInUp animated">World is greater than five #ELPolitic</h1>
					<p class="wow fadeInUp animated" data-wow-delay="0.2s">With ELPolitic responsive landing page template, you can showcase your next politics & politician websites!</p>
					<a data-scroll href="#" class="btn btn-light btn-radius btn-brd grd1">DONATE</a>
				</div> <!-- /.container -->
			</div> <!-- /.camera_caption -->
		</div>
		<div data-src="uploads/slide-3.jpg">
			<div class="camera_caption">
				<div class="container">
					<h1 class="wow fadeInUp animated">World is greater than five #ELPolitic</h1>
					<p class="wow fadeInUp animated" data-wow-delay="0.2s">With ELPolitic responsive landing page template, you can showcase your next politics & politician websites!</p>
					<a data-scroll href="#" class="btn btn-light btn-radius btn-brd grd1">DONATE</a>
				</div> <!-- /.container -->
			</div> <!-- /.camera_caption -->
		</div>
	</div> <!-- /#theme-main-banner -->
